/*
=========================================

Global Styles

==========================================
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=============================================

 Navbar

=============================================
 */

.navbar {
  padding: 1rem 0;
  text-align: center;
  /* background: #007bff; */
  background: #00bfff;
  box-shadow: -2px 7px 22px 4px rgba(201, 197, 197, 0.75);
  -webkit-box-shadow: -2px 7px 22px 4px rgba(201, 197, 197, 0.75);
  -moz-box-shadow: -2px 7px 22px 4px rgba(201, 197, 197, 0.75);
}
.navbar h2 {
  color: white;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
}

/* 
==============================================

 Hero Section

==============================================
 */

.hero-section {
  margin-top: 5rem;
  /* padding: 1rem; */
  text-align: center;
}

.file-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-form {
  display: grid;
  padding: 1rem;
  /* max-width: 70vw; */
  /* justify-content: center; */
}

.description-input-container {
  display: grid;
  column-gap: 1rem;

  grid-template-columns: auto auto;
}
.description {
  /* justify-self: end; */
  font-size: 1rem;
  color: #007bff;
}
.required-input {
  /* display: none; */
  justify-self: start;
  padding: 0.1rem;
  color: rgb(192, 9, 9);
  font-size: 0.7;
  user-select: none;
}
.file-form-description-input {
  justify-self: start;
  font-size: 1rem;
}
.file-input {
  padding-top: 1.3rem;
  font-size: 1rem;
  justify-self: start;
}
.file-form-submit-btn-container {
  padding-top: 2rem;
}
.file-form-submit-btn {
  background: none;
  border: none;
  padding: 0.3rem;
  font-size: 1rem;
  text-transform: capitalize;
  border: solid 3px #007bff;
  color: rgb(151, 128, 93);
}
.file-form-submit-btn:hover {
  cursor: pointer;
  background: #007bff;
  color: white;
}
@media screen and (min-width: 700px) {
  .file-form {
    max-width: 60vw;
  }
  .description {
    font-size: 1.2rem;
  }
  .file-form-description-input {
    font-size: 1.2rem;
  }
}

/* LOading file section */
.upload-file-loader {
  padding: 1rem;
  padding-top: 2rem;
}
.upload-file-loader h4 {
  color: #00bfff;
  text-transform: capitalize;
  font-size: 1.3rem;
}

/* File upload success */

.file-upload-success {
  background: #abdef0;
  padding: 1rem;
}
.close-btn-container {
  display: flex;
  flex-direction: row-reverse;
}
.file-upload-success-close {
  background: transparent;
  font-size: 1rem;
  color: purple;
}
.file-upload-success-close:hover {
  cursor: pointer;
}
/* Search query */
.searchQuery {
  padding: 1rem;
}
.query-form {
  display: grid;
  justify-content: center;
}
.search-btn-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.search-btn {
  color: white;
  background: #007bff;
  border: none;
  padding: 0.4rem;
  font-size: 1rem;
  text-transform: capitalize;
}
.search-btn:hover {
  cursor: pointer;
}
.search-input {
  border-radius: 6px;
  border: 1px solid #007bff;
  font-size: 2rem;
  color: #00bfff;
}
/* query response */
.query-response{
  padding: 1rem;
  background:yellow;
  color: purple;
  border-radius:1rem;
  overflow: hidden
  
}
.response-ul{
  list-style: none
}