{% extends 'base.html' %}
{% load static %} 

{% block content %}

<div class="main-content">
  <h1>Welcome To EzLogs</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Upload File</button>
  </form>
  <p><a href="{% url 'home' %}">Return to home</a></p>
 

  {% for log in sampleLog %}

  <p>{{ log }}</p>

  {% endfor %}

  <input type="search" name="" placeholder="Search Query" id="">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
     

</div>


{% endblock content %}
